
body {
    margin: 0;
    padding: 0;
}

.landing {
    background: url(https://img.freepik.com/fotos-premium/hermosos-cielos-nubes-color-rosa-pastel-violeta-noche-mientras-pone-sol_692702-1807.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    text-align: center;
    color: white;
}
