
.parrafo1 { background-color: burlywood; max-width: 100rem;}

.parrafo2 { background-color: cornflowerblue; max-width: 80rem;}

.parrafo3 { background-color: darkgreen; max-width: 60rem;}

.parrafo4 { background-color: indianred; max-width: 40rem;}

.parrafo5 { background-color: lightcyan; max-width: 30rem;}